


page-login {
    ion-content{
        background-image: url('../assets/imgs/IMG_0431.jpg');
        background-size: contain;
        background-repeat: no-repeat;

        ion-list{
            opacity: 0.5;
            align-content: center;
            justify-content: center;
            margin-top: 20% !important;
            .div{
                opacity: inherit;
                align-content: inherit;
                justify-content: inherit;
            }
        }
    }
}
